@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

:root {
    --marigold-yellow: #fadd71;
    --raw-umber: #7b4211;
    --creole: #170504;
    --zest: #e48919;
    --fiery-orange: #b05b14;
    --red-oxide: #691404;
    --marigold: #bb842b;
    --double-pearl-lusta: #fcfbc7;
    --laser: #ccac74;

    --dark-gray: #808d93;
    --light-gray: #cdd2d5;
    --waikawa-gray: #545f99;
    --livid-brown: #3d1c37;
    --martinique: #453661;
    --chamois: #e9daa6;
    --port-gore: #32225a;
    --antique-brass: #c68c6b;
    --ship-cove: #6f8cbd;
    --strikemaster: #8d6c88;
    --chetwode-blue: #7d95d4;
    --lizard-slime: #42ff91;
    --slop-blop: #00bb4e;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    background-color: rgb(34, 34, 34);
    color: black;
    font-family: 'Righteous', cursive;
    transition: ease-in-out;
}

.background-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
    overflow-y: hidden;
}

#current-weather ul {
    border: 3px solid black;
    padding: 20px 20px;
    text-align: center;
    position: relative;
    right: 205px;
    bottom: 110px;
    background-color: rgba(78, 78, 78, 0.5);
    backdrop-filter: blur(5px);
}

#current-weather li {
    display: flex;
    justify-content: center;
    width: 50%;
}

/* --------------------- */

#weather-search, #search-history, #current-weather, #future-forecast {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#weather-title, .current-weather-stat-title, .current-weather-stat-num {
    font-size: 40px;
    width: 300px !important;
}

#location {
    text-align: center;
    position: relative;
    right: 95px;
    bottom: 38px;
    min-width: 100%;
    font-size: 150px;
}

#location, #weather-title, .future-date-header {
    text-shadow:
        0 1px var(--slop-blop),
        0px 0 var(--lizard-slime),
        0px 2px var(--slop-blop),
        0px 1px var(--lizard-slime),
        0px 3px var(--slop-blop),
        0px 2px var(--lizard-slime),
        0px 4px var(--slop-blop),
        0px 3px var(--lizard-slime),
        0px 5px var(--slop-blop),
        0px 4px var(--lizard-slime),
        0px 6px var(--slop-blop),
        0px 5px var(--lizard-slime),
        0px 7px var(--slop-blop),
        0px 6px var(--lizard-slime),
        0px 8px var(--slop-blop),
        0px 7px var(--lizard-slime);
}

.day {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0 90px;
    width: 100px;
    background-color: rgba(78, 78, 78, 0.5);
    backdrop-filter: blur(5px);
    border: 3px solid black;
}

.future-weather-date-title {
    text-transform: uppercase;
    width: 275px;
    font-size: 38px;
    background-color: var(--lizard-slime);
}

#weather-title {
    background-color: var(--lizard-slime);
    font-size: 60px;
}


#future-forecast {
    display: flex;
    justify-content: center;
    font-size: 25px;
    position: relative;
    right: 180px;
    bottom: 804px;
}

.future-weather-stat, .current-weather-stat-title {
    text-shadow: 
    1px 1px #fff,
    2px 2px #fff,
    3px 3px #fff;
}

#weather-search {
    position: relative;
    bottom: 40px;
}

#weather-search label {
    font-size: 30px;
    margin-right: 10px;
}

#weather-search input {
    border-radius: 20px;
}

button {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.submitBtn {
    padding: 0 5px;
    margin: 0 20px;
    background: black;
    color: var(--lizard-slime);
}

.pressSearchBtn {
    padding: 5px 10px;
    border-radius: 20px;
    background: black;
    margin: 0 20px;
    position: relative;
    bottom: 65px;
    color: var(--lizard-slime);
}

.hidden-class {
    display: none !important;
}